@using System.Globalization
@model MomoSwitchPortal.Models.ViewModels.Reports.SummaryReportFilterRequest
@{
    ViewData["Title"] = "Summary Report page";
    ViewData["Reports"] = "active bg-gradient-warning";
}
<div class="row">
    <div class="col-12">
        <div class="card my-4">
            <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
                <div class="bg-gradient-info shadow-warning border-radius-lg pt-4 pb-3 d-flex justify-content-between">
                    <h6 class="text-white text-capitalize ps-3">Summary Report</h6>                  
                </div>
            </div>
            <div class="card-body px-0 pb-2">
                <div class="container pb-3 px-4">




                    @using (Html.BeginForm("SummaryReport", "Reports", FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()

                        <div class="row">
                            <div class="col-sm-2">
                                <label for="StartDate" class="form-label">Start Date:</label>

                                <input type="date" value="@(Model?.StartDate?.ToString("yyyy-MM-dd"))" class="form-control border p-2" placeholder="Start Date" id="StartDate" name="StartDate">
                            </div>
                            <div class="col-sm-2">
                                <label for="endDate" class="form-label">End Date:</label>

                                <input type="date" value="@(Model?.EndDate?.ToString("yyyy-MM-dd"))" class="form-control border p-2" placeholder="End Date" id="EndDate" name="EndDate">
                            </div>

                            <div class="col-sm-2 align-self-end pt-4">
                                <button type="submit" class="btn btn-dark mt-2 ">Download</button>
                            </div>

                        </div>
                    }



                </div>
            </div>
        </div>
    </div>
</div>